# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Database
*.db
*.sqlite3

# Logs
*.log

# Secrets
.env
config.py
secrets.py

# Virtual environment
myenv/
